.locationicon {
  position: absolute;
  left: 93%;
  top: 69%;
  color: mediumblue;
  cursor: pointer;
}
.locate {
  width: 50px;
  object-fit: cover;
  margin-top: 40%;
  position: absolute;
  z-index: 98;
  left: 97%;
}
.well {
  background: whitesmoke;
  display: flex;
}

.search {
  position: absolute;
  z-index: 8;
  height: 50px;
  background: whiteSmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
}
.child {
  background-color: #ffff00;
  width: 100px;
  height: 100px;
}
